.personal-photo{
    position: relative;
    margin-top: -7.5em;
    z-index: 99;
}

.personal-photo div{
  background-image: url("/personal-pic.jpeg");
  height: 15em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
